.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  font-family: var(--font-family);
}

.createButton {
  margin-bottom: 1.5rem;
  background-color: var(--accent-color);
  color: var(--white);
  transition: var(--transition);
  font-family: var(--font-family);
}

.createButton:hover {
  background-color: var(--accent-color-hover);
}

.loader {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.emptyMessage {
  color: var(--gray);
  text-align: center;
  padding: 1rem;
  font-family: var(--font-family);
}

.table {
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}

.tableHeader {
  background-color: var(--secondary-color);
}

.tableCell {
  font-weight: 600;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  text-align: right;
}

.tableRow:hover {
  background-color: var(--secondary-color);
}

.editButton {
  color: var(--primary-color);
  margin-right: 1rem;
  transition: var(--transition);
  font-family: var(--font-family);
}

.editButton:hover {
  filter: brightness(85%);
}

.deleteButton {
  color: #d32f2f;
  transition: var(--transition);
  font-family: var(--font-family);
}

.deleteButton:hover {
  color: #b71c1c;
}

.courseImage {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.dark .table {
  background-color: var(--secondary-color);
}

.dark .tableHeader {
  background-color: var(--primary-color);
}

.dark .tableCell {
  color: var(--text-color);
}

.dark .tableRow:hover {
  background-color: var(--primary-color);
}

.dark .emptyMessage {
  color: var(--gray);
}